{% extends "base.html" %}
{% load static %}


{% block link %}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/wav_list.css' %}"/>
{% endblock %}

{% block content %}



<h1>Wczytanie danych</h1>

{{data}}

<h1>Algortym 1</h1>
{{algorytm1}}

<h1>Algortym 2</h1>
{{algorytm2}}

<h1>Algortym 3</h1>
{{algorytm3}}

<h1>Algortym 4</h1>
{{algorytm4}}

<h1>Algortym 5</h1>
{{algorytm5}}

<h1>Dostępne pliki</h1>
<div class="cotainer-file-list"> 
     {% for i in wavs %}
     <li class="list-group-item">Nazwa: {{i.sample_text}}    
          <a href="{% url 'wav_details' i.pk %}" class="btn btn-outline-primary">Otworz plik</a>
     </li> 
     {% endfor %}
</div>

{% endblock %}

